@CHARSET "UTF-8";

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	/************* Verdana, Geneva, sans-serif *********/
}

#title_box {
	
	background-color: rgb(255,255,255);
	
	position: relative;
	width	: 80%;
	left	: 10%;

	float : left;

	margin-top: 30px;
	
	padding-bottom : 5px;
	
	border-bottom : 2px solid rgba(155, 150, 150, 0.4);
	border-top : 2px solid rgba(155, 150, 150, 0.4);
	
		
}

h1.page_title {

	position: relative;

	font-weight : normal;
	font-size: 40px;
	
	word-spacing: 5px;
	
	padding-left : 10px;
	padding-top : 10px;
	padding-bottom : 10px;
	
	margin : 0;
}

#text_box a,
#footer a,
h4.information a {

	
	text-decoration: none;
	color: rgb(0, 0, 180);
	
	font-style: italic;
}

h4.information {
	
	
	font-weight : normal;
	font-size: 16px;

	text-decoration: none;
	
	margin : 0;	
	
	padding: 0 0 15px 15px;
	
}


#menu_box {
	
	background-color: rgb(255,255,255);
	
	border-color : rgba(155, 150, 150, 0.4);
	border-style: solid;
	border-width: 1px;
	
	position: relative;
	
	float: left;
	
	width	: 20%;
	left	: 10%;
	
	margin-top: 30px;
	
	border-radius: 3px;
}

#menu_box ul {
	
    list-style-type: none;
    
    margin: 0;
    
    padding: 0;
    
}


#menu_box ul li a {
	
    display: block;
    
    color: #000;
    
    padding: 8px 0 8px 16px;
    
    font-size: 16px;
    
    text-decoration: none;
    
    border-radius: 3px;
}


#menu_box ul li a.selected {
    background-color: #111;
    color: white;
}

#menu_box ul li a:hover {
    background-color: #555;
    color: white;
}

#menu_box ul.sub {
	
    display:none;

    transition: max-height 1s ease-out;
}

#menu_box ul.sub li  {
	
    margin : 0 0 0 0;
}

#menu_box ul.sub li a:hover  {
	
    background-color: #333;
    color: white;
}

#menu_box ul li:hover ul.sub {

    display : block;
}

#text_box {
	
	background-color: rgb(255,255,255);
	
	border-color : rgba(155, 150, 150, 0.4);
	border-style: solid;
	border-width: 1px;
		
	position: relative;
	
	float: right;
	
	width	: 58%;
	right	: 10%;
	
	margin-top: 30px;
	margin-bottom: 20px;
	
	border-radius: 3px;
}

h3.section_title {

	position: relative;

	font-weight : normal;
	font-size: 25px;
	
	word-spacing: 5px;
	
	padding : 20px 20px 20px 20px;
	
	margin : 0;
}

h3.text {

	position: relative;

	font-weight : normal;
	font-size: 16px;
	
	word-spacing: 5px;
    line-height: 25px;
	
	padding : 10px 20px 10px 20px;
	
	margin : 0;
}

#text_box ul {
	
    list-style-type:  square;
    
    margin: 0;
    
    padding: 0 1% 1% 0;
    
}

#text_box ul li {
		
    margin: 10px 0 8px 40px;
    
    font-size: 16px;
    
    word-spacing: 5px;
    line-height: 25px;

    text-decoration: none;
    
}

#footer {
	
	position: relative;
	width	: 80%;
	left	: 10%;

	float : left;

	margin-top: 2%;
	
	padding-bottom : 1%;
			
}

#footer h1{
	
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
}
